# Ny Database

In [32]:
-- Delete en eksisting database (if necessary) 'ForlagetFanzy_Opgave'
-- Connect to the 'master' database to run this snippet
USE master
GO

IF EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'ForlagetFanzy_Opgave'
)
DROP DATABASE ForlagetFanzy_Opgave
GO

In [33]:
-- Create a new database called 'ForlagetFanzy_Opgave'
-- Connect to the 'master' database to run this snippet
USE master
GO
-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'ForlagetFanzy_Opgave'
)
CREATE DATABASE ForlagetFanzy_Opgave
GO

# Tabeller

### Diagram

![title](Diagram.PNG)

### Forfattertabellen

In [34]:
-- Create a new table called '[Forfatter]' in schema '[dbo]'

USE [ForlagetFanzy_Opgave]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[Forfatter]', 'U') IS NOT NULL
DROP TABLE [dbo].[Forfatter]
GO

CREATE TABLE [dbo].[Forfatter]
(
    [ID] INT IDENTITY(1,1) NOT NULL PRIMARY KEY, 
    [First_name] NVARCHAR(50) NOT NULL,
    [Surname] NVARCHAR(50) NOT NULL,
    [email] NVARCHAR(50) UNIQUE NOT NULL
);
GO

-- Insert rows into table 'Forfatter' in schema '[dbo]'
INSERT INTO [dbo].[Forfatter]
(
 [First_name], [Surname], [email]
)
VALUES
( 
    'John', 'Smith', 'johnsmith1982@hotmail.com'
),
( 
    'Erik', 'Torssøn', 'eriktorssoen1956@hotmail.com'
),
( 
    N'Δημήτριος', N'Χαντζιάρας', 'dimitrios.ch@greeksouvlaki.gr'
),
( 
    N'Влади́мир', N'Медве́дев', 'vladimir.medvedev@cccp.ru'
),
( 
    'Guðrún', 'Þórðardóttir', 'thegudrunsaga@gmail.com'
),
(
    'Arturito', 'Skånehauer', 'LifeIsaConstantProcessOfDying@aol.com'
)

-- View a sample from the table
SELECT TOP(10) [ID], [First_name], [Surname], [email]
FROM [dbo].[Forfatter]

ID,First_name,Surname,email
1,John,Smith,johnsmith1982@hotmail.com
2,Erik,Torssøn,eriktorssoen1956@hotmail.com
3,Δημήτριος,Χαντζιάρας,dimitrios.ch@greeksouvlaki.gr
4,Влади́мир,Медве́дев,vladimir.medvedev@cccp.ru
5,Guðrún,Þórðardóttir,thegudrunsaga@gmail.com
6,Arturito,Skånehauer,LifeIsaConstantProcessOfDying@aol.com

### Kategoritabellen

In [35]:
-- Create a new table called '[Kategori]' in schema '[dbo]'

USE [ForlagetFanzy_Opgave]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[Kategori]', 'U') IS NOT NULL
DROP TABLE [dbo].[Kategori]
GO

CREATE TABLE [dbo].[Kategori]
(
    [ID] INT IDENTITY(1,1) NOT NULL PRIMARY KEY, 
    [Category] NVARCHAR(50) NOT NULL
);
GO

-- Insert rows into table 'Kategori' in schema '[dbo]'
INSERT INTO [dbo].[Kategori]
(
 [Category]
)
VALUES
( 
    'Martian Food'
),
( 
    'Earth Food'
),
( 
    'Moon Food'
),
( 
    'Asteroid Belt Food'
),
( 
    'Ganymede Food'
),
( 
    'Andromeda Food'
)

-- View a sample from the table
SELECT TOP(10) [ID], [Category]
FROM [dbo].[Kategori]

ID,Category
1,Martian Food
2,Earth Food
3,Moon Food
4,Asteroid Belt Food
5,Ganymede Food
6,Andromeda Food

### Bogtabellen

In [36]:
-- Create a new table called '[bog]' in schema '[dbo]'

USE [ForlagetFanzy_Opgave]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[bog]', 'U') IS NOT NULL
DROP TABLE [dbo].[bog]
GO

CREATE TABLE [dbo].[bog]
(
    [ID] INT IDENTITY(1,1) NOT NULL PRIMARY KEY, 
    [Title] NVARCHAR(50) NOT NULL,
    [Summary] NVARCHAR(1000) NOT NULL,
    [ISBN13] CHAR(13) UNIQUE NOT NULL,
    [Sales_price] DECIMAL(7,2) NOT NULL,
    [CategoryID] INT FOREIGN KEY REFERENCES Kategori(ID)
);
GO

-- Insert rows into table 'bog' in schema '[dbo]'
INSERT INTO [dbo].[bog]
(
 [Title], 
 [Summary], 
 [Sales_price], 
 [ISBN13],
 [CategoryID]
)
VALUES
( 
    'The anodic cathode', 
    'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.',
    250.45,
    '9781234567897',
    2
),
( 
    'The dry sea', 
    'Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.',
    300.99,
    '9781234567425',
    1
),
( 
    'The anabatic katabasis', 
    'Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.',
    99.15,
    '9781234567322',
    4
),
( 
    'The magic trombone', 
    'Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.',
    420.44,
    '9781234567758',
    3
),
( 
    'Also sprach Herr Lustra', 
    'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.',
    666.99,
    '9781234567666',
    6
)



-- View a sample from the table
SELECT TOP(10) [ID], [Title], [Summary], [Sales_price], [ISBN13], [CategoryID]
FROM [dbo].[bog]

ID,Title,Summary,Sales_price,ISBN13,CategoryID
1,The anodic cathode,"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.","250,45",9781234567897,2
2,The dry sea,"Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.","300,99",9781234567425,1
3,The anabatic katabasis,Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.,"99,15",9781234567322,4
4,The magic trombone,"Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.","420,44",9781234567758,3
5,Also sprach Herr Lustra,"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.","666,99",9781234567666,6

# Junction table

### Bøger og forfattere tabel

In [37]:
-- Create a junction table called '[bogogforfatter]' in schema '[dbo]'

USE [ForlagetFanzy_Opgave]

-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[bogogforfatter]', 'U') IS NOT NULL
DROP TABLE [dbo].[bogogforfatter]
GO


CREATE TABLE [dbo].[bogogforfatter]
(
    [BogID] INT NOT NULL, 
    [ForfatterID] INT NOT NULL, 
    PRIMARY KEY (BogID, ForfatterID),
    FOREIGN KEY (BogID) REFERENCES bog (ID),
    FOREIGN KEY (ForfatterID) REFERENCES Forfatter (ID)
);
GO

-- Insert rows into table 'bogogforfatter' in schema '[dbo]'
INSERT INTO [dbo].[bogogforfatter]
(
 [BogID], [ForfatterID]
)
VALUES
( 
    1, 3
),
( 
    1, 4
),
( 
    2, 1
),
( 
    3, 1
),
( 
    4, 5
), 
( 
    5, 2
)

-- View a sample from the table
SELECT TOP(10) [BogID], [ForfatterID]
FROM [dbo].[bogogforfatter]
GO

BogID,ForfatterID
1,3
1,4
2,1
3,1
4,5
5,2

# Forespørgsler og Stored Procedures

### En liste med alle bøger per kategori (Kategorier uden bøger vises alligevel)

In [38]:
SELECT Category, Title, Sales_price, ISBN13, ISNULL(First_name + ' ', '') + Surname AS Author
FROM bogogforfatter
JOIN bog ON bog.ID = bogogforfatter.BogID
JOIN Forfatter ON Forfatter.ID = bogogforfatter.ForfatterID
RIGHT JOIN Kategori ON Kategori.ID = bog.CategoryID

Category,Title,Sales_price,ISBN13,Author
Martian Food,The dry sea,"300,99",9781234567425,John Smith
Earth Food,The anodic cathode,"250,45",9781234567897,Δημήτριος Χαντζιάρας
Earth Food,The anodic cathode,"250,45",9781234567897,Влади́мир Медве́дев
Moon Food,The magic trombone,"420,44",9781234567758,Guðrún Þórðardóttir
Asteroid Belt Food,The anabatic katabasis,"99,15",9781234567322,John Smith
Ganymede Food,NULL,NULL,NULL,NULL
Andromeda Food,Also sprach Herr Lustra,"666,99",9781234567666,Erik Torssøn

### En liste med alle forfattere og deres bøger (Stored procedures)

In [39]:
-- Drop the stored procedure called 'stp_getallforfattere' in schema 'dbo'
IF EXISTS (
SELECT *
    FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
    AND SPECIFIC_NAME = N'stp_getallforfattere'
)
DROP PROCEDURE dbo.stp_getallforfattere
GO

-- Create a new stored procedure
CREATE PROCEDURE stp_getallforfattere
AS
    SELECT First_name AS [Name], Surname, Title AS [Book title], Sales_price AS [Price], ISBN13, Category
    FROM bogogforfatter
    JOIN bog ON bog.ID = bogogforfatter.BogID
    JOIN Kategori ON Kategori.ID = bog.CategoryID
    RIGHT JOIN Forfatter ON Forfatter.ID = bogogforfatter.ForfatterID
GO

EXEC stp_getallforfattere;

Name,Surname,Book title,Price,ISBN13,Category
John,Smith,The dry sea,"300,99",9781234567425,Martian Food
John,Smith,The anabatic katabasis,"99,15",9781234567322,Asteroid Belt Food
Erik,Torssøn,Also sprach Herr Lustra,"666,99",9781234567666,Andromeda Food
Δημήτριος,Χαντζιάρας,The anodic cathode,"250,45",9781234567897,Earth Food
Влади́мир,Медве́дев,The anodic cathode,"250,45",9781234567897,Earth Food
Guðrún,Þórðardóttir,The magic trombone,"420,44",9781234567758,Moon Food
Arturito,Skånehauer,NULL,NULL,NULL,NULL

### Få at vide alt om en bestemt bog (Søg titlen eller ISBN13)

In [40]:
-- Drop the stored procedure called 'stp_soegenbog' in schema 'dbo'
IF EXISTS (
SELECT *
    FROM INFORMATION_SCHEMA.ROUTINES
WHERE SPECIFIC_SCHEMA = N'dbo'
    AND SPECIFIC_NAME = N'stp_soegenbog'
)
DROP PROCEDURE dbo.stp_soegenbog
GO

-- Create a new stored procedure
CREATE PROCEDURE stp_soegenbog @Title NVARCHAR(50), @ISBN13 NVARCHAR(13)
AS
    SELECT Title AS [Book title], Sales_price AS [Price], ISBN13, Category, Summary, ISNULL(First_name + ' ', '') + Surname AS Author
    FROM bogogforfatter
    JOIN bog ON bog.ID = bogogforfatter.BogID
    JOIN Kategori ON Kategori.ID = bog.CategoryID
    JOIN Forfatter ON Forfatter.ID = bogogforfatter.ForfatterID
    WHERE Title LIKE '%' + @Title + '%' AND ISBN13 LIKE '%' + @ISBN13 + '%' 
GO

EXEC stp_soegenbog @Title = 'dry', @ISBN13 = ''

Book title,Price,ISBN13,Category,Summary,Author
The dry sea,"300,99",9781234567425,Martian Food,"Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.",John Smith

# Overvejelser

Jeg skulle først lave 3 tabeller for kategori, bøger og forfattere. Bagefter lavede jeg en junction tabel for at oprette de "mange-til-mange" relationer. Jeg udfyldte tabellerne med meget random ting for at prøve det jeg lavede af. Det virkede.
  
Efterfølgende lavede jeg nogle queries og stored procedures til at trække data fra tabellerne. Det fungerede.
  
Jeg vil på et tidspunkt lære at lave en API og en hjemmeside for at lære hvordan man gør det.